<nav>
  <a [routerLink]="['/dashBoard']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Changelist/ Build</a>
  <!--<a [routerLink]="['/exams']" [routerLinkActive]="['router-link-active']">Owner</a>
  <a [routerLink]="['/subscriptions']" [routerLinkActive]="['router-link-active']">Time Started</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">State</a>
  <a [routerLink]="['/dashBoard']" [routerLinkActive]="['router-link-active']">Metrics</a>
  <a [routerLink]="['/dashBoard']" [routerLinkActive]="['router-link-active']">Build</a>
<a [routerLink]="['/dashBoard']" [routerLinkActive]="['router-link-active']">Unit test</a>
<a [routerLink]="['/dashBoard']" [routerLinkActive]="['router-link-active']">Functional Test</a>

-->

</nav>