<div class="panel panel-default panel-background">
    
    <div class="panel-body" >
     <div class="item-heading">Functional Test</div>
     <div class="chart"
                    chart  
                    [data]="data" 
                    [options]="options" 
                    [labels]="labels" 
                    [columnTypes]="columnTypes" 
                    [chartType]="chartType">
             </div>
         {{functionalTestInfo.passPercentage}}% tests passed

             {{functionalTestInfo.coveredPercentage}}% code covered
  <!--passed: {{functionalTestInfo.passed}} failed:{{functionalTestInfo.failed}}-->
    </div>
  
</div>