
#container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    width:100%;
    padding-top: 55px;
}
#container>div {
    width: 100px;
    height: 100px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
   
}
span {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
.toggle-button{
  width:40px;height:40px;background-color:green;float:left
}

.main-container{
   width: 100%;
    border: 2px solid green;
    padding: 25px;
    margin: 25px;


}
