<div class="panel panel-info"  [ngClass]="{ 'panel-info':item.state=='complete' }">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" (click)="toggle()" aria-expanded="areaExpanded" aria-controls="collapseOne">
                <ul class="list-inline table-list">
                    <li><i class="fa fa-television "></i>{{item.name}} </li>
                    <li>{{item.owner}}</li>
                    <li> {{item.timeStarted}}</li>
                    <li> {{item.state}}</li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                               
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                             
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                               
                            </div>
                        </div>
                    </li>
                </ul>
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse "  [ngClass]="{ 'in':areaExpanded }" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <ul class="list-inline table-inside-list">
                <li>

                    <metricsInfo [metricsInfo]="item.metrics"></metricsInfo>
                </li>
                <li>
                    
                    <buildInfo [buildInfo]="item.build"></buildInfo>
                </li>

                <li>
                 
                    <unitTestInfo [unitTestInfo]="item.unitTest"></unitTestInfo>
                </li>
                <li>
                 
                    <functionalTestInfo [functionalTestInfo]="item.functionalTest"></functionalTestInfo>
                </li>
                <li>
                    <div class="panel ">
                        <div class="panel-body">
                            Results
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
