<div class="main-container">
<div>{{item.name}}  {{item.owner}} {{item.timeStarted}} {{item.state}}</div>
<div class="toggle-button" (click)="showInfo=!showInfo"></div>


<div [hidden]="!showInfo" id="container" >
<div >
<metricsInfo [metricsInfo]="item.metrics"></metricsInfo>
</div >
<div >
<buildInfo [buildInfo]="item.build" ></buildInfo>
</div>
<div >
<unitTestInfo [unitTestInfo]="item.unitTest"></unitTestInfo>
</div>
<div >
<functionalTestInfo [functionalTestInfo]="item.functionalTest"></functionalTestInfo>
</div>
<div >
Result:67
</div>
</div>
</div>