
.chart{
   width: 100px;
   min-height: 100px;
   margin:2px;
     display:inline-block;
   }

   .chart-content{
         
   }

   .pass-content{

    display:inline-block;
   }

   .pass-content:first-child{
        font-size: 16px;
        color: green;
   }
.covered-content{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 18px;
    background-color:lightcoral;
   }
   .covered-content>div{
       font-size: 12px;
   }
      
        