
<div class="panel panel-default panel-background">
    <div class="panel-body">
        <div class="item-heading">Unit Test</div>
       <div style="display: block">
  <canvas baseChart
          [data]="pieChartData"
         [colors]= "chartColors"
          [chartType]="pieChartType"
        
          ></canvas>
</div>

             {{unitTestInfo.passPercentage}}% tests passed

             {{unitTestInfo.coveredPercentage}}% code covered
        <!--passed: {{unitTestInfo.passed}} failed: {{unitTestInfo.failed}}-->
    </div>
</div>

 