<div class="panel panel-default panel-background">
    <div class="panel-body">
        <div class="item-heading">Unit Test</div>
        <div class="chart-content">
        <div  class="chart">
            <canvas baseChart [data]="pieChartData" [colors]="chartColors" [chartType]="pieChartType"></canvas>
        </div>
          <div class="pass-content">
            <div> {{unitTestInfo.passPercentage}}% </div>
            <div>tests passed </div>
        </div>
        </div>
       
        <div class="covered-content">
            {{unitTestInfo.coveredPercentage}}%
            <div>code covered</div>
        </div>
    </div>