
<div class="panel panel-default panel-background">
    <div class="panel-body">
        <div class="item-heading">Unit Test</div>
        <div class="chart"
                    chart  
                    [data]="data" 
                    [options]="options" 
                    [labels]="labels" 
                    [columnTypes]="columnTypes" 
                    [colors]="chartColors"
                    [chartType]="chartType">
             </div>

             {{unitTestInfo.passPercentage}}% tests passed

             {{unitTestInfo.coveredPercentage}}% code covered
        <!--passed: {{unitTestInfo.passed}} failed: {{unitTestInfo.failed}}-->
    </div>
</div>

 