/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 0;
  /*padding: 0 0 0 20px;*/
}

/*li {
  font-weight: 400;
  margin-top: 4px;
}*/

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

  .hedding {
            padding: 10px 15px;
            font-size: 16px;
        }

        .table-list li {
            width: calc((100% / 8) - 30px);
            vertical-align: top;
        }

.table-inside-list>li{
   vertical-align: top;
   margin:5px;
   padding:5px;
   
}
.table-inside-list>li .panel{
     min-height: 232px;
     min-width:150px;
}
.table-inside-list>li .panel-body{

margin:5px;
}
.progress{
  margin-bottom: 0;
}

.item-heading{
    font-size: 16px; 
    color: green;
     font-weight: bold;
}

.panel-background{
border-color: green;
border-width: 4px;
 box-shadow: 5px 5px 5px #888888;
}

.panel-background-empty{
border-color: snow;
border-width: 4px;
}
