
.complete-result-panel{
    margin-left:5px;
}

.complete-result-panel .result-heading{
    -webkit-align-content: center;
    align-content: center;
        text-align: center;
}

.complete-result-panel .sub-heading{
    font-size: 16px; 
    color: orange;
    text-align: center;
     
}
.complete-result-panel>h1{
      
      color: orange;
      text-align: center;
}
.merge-text{
    width:auto;
    margin-bottom:5px;
      text-align: center;
       white-space: nowrap;
}
.merge-text>span{
    vertical-align: top;
     display: inline-block;
}
