
<div class="panel panel-default panel-background">
    <div class="panel-body">
        <div class="item-heading">Build</div>
        <ul class="list-inline icon-align">
            <li>
                <i class="fa fa-television fa-5x"></i>
        <div><span>Debug</span> </div>
            </li>
            <li>
                
        <i class="fa fa-television fa-5x"></i>
        <div><span>Release</span></div>
            </li>
        </ul>
        
       
    </div>
    
 <div class="time-content"><span>{{buildInfo.time}}</span> <span>{{buildInfo.date}}</span></div>
</div>
