.panel-body{
    width:500px;
}
.reject-result-panel{
    margin-left:5px;
}

.reject-result-panel .result-heading{
    -webkit-align-content: center;
    align-content: center;
        text-align: center;
}

.reject-result-panel .sub-heading{
    font-size: 16px; 
    color: red;
    text-align: center;
     
}
.reject-result-panel>h1{
      text-align: center;
      color:red;
}
.reject-text{
    width:100px;
    margin-bottom:5px;
      text-align: justify;
       white-space: nowrap;
}
.reject-text>span{
    vertical-align: top;
    
}
